@import "tailwindcss";

@theme {
    --container-padding: 1rem;
}

.container {
    margin-inline: auto;
    padding-inline: 1rem;
}

@media (min-width: 640px) {
    .container {
        padding-inline: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .container {
        padding-inline: 2rem;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fadeInUp 0.8s ease-out forwards;
    opacity: 0;
}

button:not(:disabled) {
    cursor: pointer;
}

@keyframes loadingBar {
    0% {
        width: 0%;
        margin-left: 0%;
    }

    50% {
        width: 60%;
        margin-left: 20%;
    }

    100% {
        width: 0%;
        margin-left: 100%;
    }
}

.animate-loading-bar {
    animation: loadingBar 1s ease-in-out;
}